@tailwind base;
@tailwind components; 
@tailwind utilities;


.scrollbar-custom::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(148, 148, 148, 0.2);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(148, 148, 148, 0.4); 
}
